<div class="header-container">
  <div class="report-select-container">
    <select class="report-select" [(ngModel)]="selectedReport">
      <option *ngFor="let option of reportOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
    <h2>{{ pageTitle }}</h2>
  </div>
  <div class="spacer"></div>
  <button mat-button [matMenuTriggerFor]="menu" class="account-button">
    <div class="account-avatar">
      <img src="assets/avatar.png" alt="User avatar" class="avatar-image">
    </div>
    <div class="account-info">
      <div class="account-name">John Doe</div>
      <div class="account-role">Administrator</div>
    </div>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onAccountClick()">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="onLogoutClick()">
      <mat-icon>logout</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
</div> 