@import '../../shared/styles/variables.scss';

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.logo {
  padding: 16px;
  text-align: center;
  flex-shrink: 0;
}

.logo-image {
  max-width: 150px;
  height: auto;
}

.nav-links {
  margin-top: 32px;
  flex: 1;
}

.nav-links a {
  width: auto;
  border-radius: 0;
}

:host ::ng-deep {
  .active {
    background-color: $primary-color !important;
    color: white !important;
    border-left: 4px solid $secondary-color;
    .mat-icon {
      color: $secondary-color !important;
    }

    span {
      color: white !important;
    }
  }
} 