<div class="page-container">
    <div class="page-header">
        <div class="plate-select-container">
            <mat-form-field appearance="outline">
                <mat-select [formControl]="plateControl">
                    @for (option of plateOptions; track option.value) {
                        <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <h2>Dashboard</h2>
    </div>

    <app-partner-table
        [partners]="filteredPartners"
        [tableState]="tableState"
        [actionButtons]="tableActionButtons"
        [filterButtons]="tableFilterButtons"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (dateRangeChange)="onDateRangeChange($event)">
    </app-partner-table>
</div> 